<% content_for :title, "Editando diagnóstico" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando diagnóstico</h1>
  <p class="text-gray-600 mt-1">Ordem <%= @service_order.code %></p>

  <%= render "form", service_order: @service_order, diagnostic: @diagnostic %>

  <%= link_to "Voltar para a ordem", @service_order, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
